<div class="chat-header">
  <div class="chat-room-name">hogefuga</div>
  <div class="close-chat">
    <a href="#">チャットを終了する</a>
  </div>
</div>
<div class="chat-room">

  <div class="chat-message">
    <div class="upper-message">
      <div class="message-name">Tom</div>
      <div class="message-time">2020/3/31(Wed) 12:43:30</div>
    </div>
    <div class="lower-message">
      <div class="message-text">おはよう</div>
    </div>
  </div>

  <div class="chat-message">
    <div class="upper-message">
      <div class="message-name">Tom</div>
      <div class="message-time">2020/3/31(Wed) 12:47:30</div>
    </div>
    <div class="lower-message">
      <div class="message-text">こんばんは</div>
    </div>
  </div>

</div>
<div class="chat-form">
  <div class="form-left">
    <input type="text" placeholder="type a message" class="form-text"></input>
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <div class="form-right">
    <input type="submit" value="送信" class="send-btn"></input>
  </div>
</div>