.wrapper {
  display: flex;
}

.side {
  height: 100vh;
  width: 300px;
  background-color: #253141;
}

.side-header {
  height: 100px;
  background-color: #253141;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name a {
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.create-chat a {
  font-size: 10px;
  color: deepskyblue;
  border: 1px solid lightblue;
  padding: 14px;
  text-decoration: none;
}

.side-rooms {
  height: calc(100vh - 100px);
  background-color: #2F3E51;
  padding: 0 20px;
  overflow: scroll;
}

.side-room {
  margin: 20px 0 40px;
}

.side-room-name a {
  color: white;
  text-decoration: none;
}

.chat {
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: #ffffff;
}

.chat-header {
  height: 100px;
  background-color: #FFFFFF;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.chat-room-name {
  font-size: 24px;
  color: #333;
  margin-top: 36px;
}

.close-chat a {
  color: darkred;
  border: 1px solid darkred;
  padding: 20px;
  text-decoration: none;
}

.close-chat {
  margin-top: 40px;
}

.chat-room {
  height: calc(100vh - 190px);
  background-color: #FAFAFA;
  padding: 46px 40px 0;
  overflow: scroll;
}

.chat-message {
  margin-bottom: 40px;
}

.upper-message {
  display: flex;
}

.message-name {
  font-size: 16px;
  color: #434A54;
}

.message-time {
  font-size: 12px;
  color: #999;
  margin-left: 10px;
}

.lower-message {
  margin-top: 10px;
}

.message-text {
  font-size: 14px;
  color: #434A54;
}

.chat-form {
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
  display: flex;
}

.form-left {
  width: 100%;
  background-color: white;
  display: flex;
}

.form-text {
  height: 50px;
  width: 100%;
  padding-left: 10px;
  border: none;
}

.send-btn {
  height: 50px;
  font-size: 16px;
  color: white;
  background-color: #38AEF0;
  padding: 0 20px;
  margin-left: 15px;
  border: none;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}